<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <!--<h2>El usuario conectado es:</h2>-->
    <% if (login) { %>
        <h1>El usuario conectado es: <strong><%= name %></strong></h1>
        <a href="logout" class="a-logout">Logout</a>
    <% } else {  %>
        <h1><strong><%= name %></strong></h1>
        <a href="login" class="a-login">Ir al Login</a>
    
    <% } %>
    
</body>
</html>